[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
flake8 = "*"
pdoc3 = "*"
pydocstyle = "*"
pytest = "*"
pytype = "*"

[packages]
django-atrium = {editable = true,path = "."}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
