name: django-atrium tests

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pipenv
        pipenv install --dev
    - name: Lint with flake8
      run: |
        pipenv install flake8
        pipenv run flake8 . --count --select=E9,F63,F7,F82 --show-source --statistics
        pipenv run flake8 . --count --exit-zero --max-complexity=10 --statistics
    - name: Test with pytest
      env:
        MX_API_KEY: ${{ secrets.MX_API_KEY }}
        MX_CLIENT_ID: ${{ secrets.MX_CLIENT_ID }}
        MX_ATRIUM_URL: ${{ secrets.MX_ATRIUM_URL }}
      run: |
        pipenv install pytest
        pipenv run pytest
